/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
  background-color: #FF0000;
}
nav {
background-color: #FF0000;
}

p {
  line-height: 2rem;
}
h1 {
  color: #FFF!important;
}

.button-collapse {
  color: red;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  text-shadow: 2px 2px black;
}
  .parallax-container .section {
    width: 100%;
  }

  iframe {
     width:452px;
     height:901px;

  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  iframe {
     width:320px;
     height:700px;
     align-content: center;
     margin: 0;

  }


}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
